# Python
__pycache__/
*.pyc
*.pyo
.venv/

# Buildozer / Android
.buildozer/
bin/
*.apk

# Kivy logs / runtime
.kivy/
*.log

# IDE
.vscode/
.idea/

# Tests / tooling
.pytest_cache/
.coverage

# OS
.DS_Store
Thumbs.db
